<style>

  /* light mode colors */
  body {
    --primary-color: #EA5506; //
    --primary-pale-color: #698bcf1c;
    --text-color: #3C4043;
    --text-pale-color: #4f3447;
    --bg-color: #fff3eb;
    --highlight-mark-color: #5f75b045;
  
    --callout-note-color: #DF7163;
    --callout-important-color: #9971d9;
    --callout-warning-color: #c99054;
    --callout-alert-color: #f4a583;
    --callout-question-color: #4985a2;
    --callout-tip-color: #3ea06f;
  }

  /* dark mode colors */
  body.dark {
    --primary-color: #EA5506;
    --primary-pale-color: #698bcf1c;
    --text-color: #fff3eb;
    --text-pale-color: #9EA1A3;
    --bg-color: #202124;
    --highlight-mark-color: #5f75b045;

    --callout-note-color: #DF7163;
    --callout-important-color: #9971d9;
    --callout-warning-color: #c99054;
    --callout-alert-color: #f4a583;
    --callout-question-color: #4985a2;
    --callout-tip-color: #3ea06f;
  }

  /* typography */
  body {
    --main-font: 'Signika', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --homepage-max-width: 750px;
    --main-max-width: 750px;
    --avatar-size: 85px;
    --paragraph-font-size: 18px;
    --paragraph-line-height: 1.75;
    --aside-font-size: 16px;
    --img-border-radius: 0px;
    --inline-code-border-radius: 2px;
  }

</style>
